<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<environments default="development">-->
        <!--<environment id="development">-->
            <!--<transactionManager type="JDBC"/>-->
            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="${driver}"/>-->
                <!--<property name="url" value="${url}"/>-->
                <!--<property name="username" value="${username}"/>-->
                <!--<property name="password" value="${password}"/>-->
            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->
    <!---->
    <!--<mappers>-->
        <!--<mapper resource="org/mybatis/example/BlogMapper.xml"/>-->
    <!--</mappers>-->

    <typeAliases>

        <typeAlias type="com.wenlie.chong4.bean.Article" alias="article" />
        <typeAlias type="com.wenlie.chong4.bean.Anchor" alias="anchor" />
        <typeAlias type="com.wenlie.chong4.bean.Tag" alias="tag" />
        <typeAlias type="com.wenlie.chong4.bean.Topic" alias="topic" />
        <typeAlias type="com.wenlie.chong4.bean.ArticleTag" alias="articleTag" />
        <typeAlias type="com.wenlie.chong4.bean.RefArticle" alias="refArticle" />
        <typeAlias type="com.wenlie.chong4.bean.TopicArticle" alias="topicArticle" />

    </typeAliases>
</configuration>