<div class="count">
    <a href="http://www.chong4.com.cn/list.html" title="穿衣打扮全部文章列表">穿衣打扮全部文章列表</a>
    #*<script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F987a52b30d2e01bb9a5a912588468110' type='text/javascript'%3E%3C/script%3E"));
    </script>*#
</div>