<div id="header">
    <div id="innerHeader">
        <div class="blog-header">
            <div class="blog-logo"><a href="http://www.chong4.com.cn/"><img src="/assets/images/logo.gif" width="85" height="84" alt="穿衣打扮" title="穿衣打扮" /></a></div>
            <h2><a href="http://www.chong4.com.cn/">穿衣打扮</a></h2>
            <div class="blog-desc">提供服饰搭配,美容知识等方面的精彩文章</div>
        </div>
        <div id="bbsup"></div>
        <div id="menu">
            <ul>
                <li class="menuleft"><a href="http://www.chong4.com.cn/" title="穿衣打扮首页">首页</a></li>
                <li><a href="http://www.chong4.com.cn/picwall.php" title="图片墙">图片墙</a></li>
                <li><a href="http://www.chong4.com.cn/index.php?go=starred" title="查看最受欢迎的文章">精选</a></li>
                <li><a href="http://www.chong4.com.cn/index.php?mode=2" title="查看全部文章">全部</a></li>
                <li><a href="http://www.chong4.com.cn/tag.php" title="查看文章分类">分类</a></li>
                <li><a href="http://www.chong4.com.cn/cydb/link.php?001" target="_blank" title="壹基金壹家人月捐计划" rel="nofollow">壹基金</a></li>
                <li><a href="http://www.chong4.com.cn/cydb/link.php?004" target="_blank" title="妖娆女人" rel="nofollow">妖娆女人</a></li>
                <li><a href="http://www.chong4.com.cn/cydb/link.php?005" target="_blank" title="手工皮鞋" rel="nofollow">手工皮鞋</a></li>
            </ul>
        </div>
    </div>
</div>