#if($!isDetail)


<script>
    var tb = '${keyword.name}';
    var tan = '${keyword.name}';
</script>
<base target="_blank"/>
<script type="text/javascript">
    (function(win,doc){
        var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
        if (!win.alimamatk_show) {
            s.charset = "gbk";
            s.async = true;
            s.src = "http://a.alimama.cn/tkapi.js";
            h.insertBefore(s, h.firstChild);
        }
        var o = {
            pid: "$!{taodianjinPid}",
            appkey: "",
            unid: ""
        }
        win.alimamatk_onload = win.alimamatk_onload || [];
        win.alimamatk_onload.push(o);
    })(window,document);
</script>

#end

